.footer{
	padding: 45px 0 35px;
	background: #fff;
	box-shadow: 0 3px 13px rgba(#fff, .04);

	.footer-inner{
		display: flex;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;
		justify-content: space-between;
		
		.footer-block{
			padding: 0 15px;

			&:first-child{
				margin-top: -14px;
			}
		}

		.footer-nav-wrapper{
			max-width: 630px;
		}
	}

	@media screen and (min-width: 992px){
		.phone-link{
			margin-top: -8px;
			margin-left: -8px;
			margin-bottom: 16px;
		}
	}

	@media screen and (max-width: 991px){
		.footer-inner{
			flex-direction: column;
			align-items: stretch;

			.footer-block{
				margin-top: 0 !important;
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}

				&.footer-right{
					display: flex;
					align-items: center;
					justify-content: center;

					.btn{
						width: auto;
						margin-left: 30px;
					}
				}

				&.footer-nav-wrapper{
					max-width: unset;
				}
			}
		}
	}

	@media screen and (max-width: 991px) and (min-width: 576px){
		.logo-block.in-column{
			flex-direction: row;
			justify-content: center;

			.block-image{
				margin-bottom: 0;
			}

			.block-text{
				text-align: left;
				margin-left: 30px;
			}
		}
	}

	@media screen and (max-width: 767px){
		// box-shadow: $shadow;
		border-top: 1px solid #eee;
	}

	@media screen and (max-width: 575px){
		.footer-inner{
			.footer-block{
				&.footer-right{
					flex-direction: column;

					.btn{
						margin-left: 0;
						margin-top: 20px;
					}
				}
			}
		}
	}
}

.footer-nav{
	ul{
		display: grid;
		grid-template-columns: 170px 1fr 275px;
		grid-gap: 10px 40px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.428;
		margin-bottom: -10px;
		letter-spacing: 0.05em;
		font-weight: 600;

		li{
			a{
				color: inherit;

				&:hover,
				&:focus{
					color: $primary;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: $primary;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}
		}

		@media screen and (max-width: 1229px){
			grid-template-columns: 1fr 275px;
		}

		@media screen and (max-width: 991px) and (min-width: 768px){
			grid-template-columns: 230px 1fr 275px;
		}

		@media screen and (max-width: 575px){
			grid-template-columns: 1fr;
			text-align: center;
		}
	}
}