.btn{
	font-weight: 600;
	text-align: center;
	font-size: 18px;
	line-height: 1.3;
	padding: 5px 40px;
	min-height: 44px;
	border-radius: $r;
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all $t;
	cursor: pointer;
	appearance: none;
	box-shadow: none;
	white-space: nowrap;

	border: 0;
	background: linear-gradient(to bottom, #9ed402, #79be30, #79be30, #5d9e28, #5d9e28);
	background-size: 100% 300%;
	background-position: center top;
	position: relative;
	color: #fff;
	z-index: 2;
	box-shadow: 0 2px 0 #5d9e28;

	&:hover,
	&:focus{
		outline: none;
		background-position: center center;
	}

	&:active{
		// box-shadow: none;
		transform: translateY(2px);
		background-position: center bottom;
	}

	&.btn-light{
		border: 1px solid $primary;
		background: transparent;
		color: $primary;
		box-shadow: none;
		font-size: 16px;

		&:hover,
		&:focus{
			background: $primary;
			color: #fff;
		}

		&:active{
			transform: translateY(0);
			background: #5d9e28;
		}
	}

	&.btn-small{
		min-height: 30px;
		font-size: 14px;
		padding-left: 22px;
		padding-right: 22px;
		border-radius: 3px;
	}

	&.fullwidth{
		width: 100%;
	}
}